@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@500;600;700&display=swap");
* {
    padding: 0;
    font-family: LabGrotesque, Helvetica Neue, Helvetica, Arial, sans-serif;
    margin: 0;
}

div {
    box-sizing: border-box;
}


/* body {
    max-width: 1024px;
    margin: auto;
} */

a {
    text-decoration: none;
}

.header {
    display: flex;
    /* justify-content: center; */
    padding: 15px;
    overflow: hidden;
}

.left_header {
    align-items: center;
    display: flex;
    width: 20%;
    text-align: center;
    margin-left: 40px;
}

.left_header img {
    width: 80px;
    margin-left: 40px;
}

.middle_header {
    margin-right: 20px;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* justify-content: space-evenly; */
}

.middle_header a {
    font-weight: 700;
    padding: 20px;
    font-size: 18px;
    color: #767676;
    transition: 0.2s;
}

.middle_header a:hover {
    transform: scale(1.001);
    color: #333;
}

#tour {
    color: #333;
}

.right_header {
    width: 20%;
    text-align: center;
    align-self: center;
}

.download_button1 {
    width: 128px;
    height: 48px;
    font-size: 18px;
    font-weight: 700;
    padding: 10px 15px;
    background-color: #04ddb2;
    border-radius: 24px;
    color: white;
    border: none;
    transition: 0.3s;
}

.download_button1:hover {
    transform: scale(1.1);
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content_head {
    margin: 40px 0 20px 0;
}

.dark_head {
    font-weight: bold;
    font-size: 56px;
}

.black_content {
    color: #333;
}

.green_tour {
    color: #04ddb2;
}

.content {
    margin: 0;
    padding: 0;
    width: 40%;
    text-align: center;
}

.content p {
    font-size: 24px;
    /* flex-wrap: wrap; */
}

.video_container {
    margin-top: 80px;
    /* padding-top: 50%; */
    /* width: 100%; */
    /* margin-bottom: 80px; */
    cursor: pointer;
    /* position: absolute; */
}

.video_container img {
    width: 57rem;
    border-radius: 24px;
    transition: 0.3s;
    /* overflow-clip-margin: content-box; */
}

.video_container img:hover {
    transform: scale(1.001);
    box-shadow: 0 0px 30px 0px #767676;
}

.afterVideo_darkHead {
    margin-top: 80px;
    width: 30%;
    text-align: center;
    color: #333;
}

.download_buttarea {
    margin-top: 40px;
    margin-bottom: 80px;
}


/* .dark_head{
    color: #333;
} */

.download_button2 {
    width: 140px;
    height: 48px;
    font-size: 18px;
    font-weight: 700;
    /* padding: 10px 30px 10px 30px; */
    background-color: #04ddb2;
    border-radius: 24px;
    color: white;
    border: none;
    transition: 0.3s;
}

.download_button2:hover {
    transform: scale(1.1);
}

.hr_contain {
    display: flex;
    justify-content: center;
}

.hr_line {
    width: 80%;
    /* margin-left: 140px; */
}

.footer {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    padding: 40px 120px 40px 140px;
}

.first_footerOpt img {
    width: 80px;
    margin-bottom: 20px;
}

.first_footerOpt {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: -20px;
}

.first_footerOpt span {
    color: #767676;
}

.other_footerOpt {
    display: flex;
    flex-direction: column;
}

.other_footerOpt h5 {
    margin-bottom: 30px;
    color: #504f4f;
    font-size: 16px;
}

.other_footerOpt a {
    margin-bottom: 25px;
    color: #767676;
    font-size: 16px;
    transition: 0.3s;
}

.other_footerOpt a:hover {
    transform: scale(1.01);
}

.last_footerOpt a {
    /* display: flex; */
    padding: 10px 8px 5px 8px;
    justify-content: space-around;
    font-size: 20px;
    text-decoration: none;
    background-color: #04ddb2;
    align-items: center;
    color: white;
    border-radius: 100%;
    margin-right: 20px;
    width: 10px;
    height: 0;
    transition: 0.2s;
}

.last_footerOpt a:hover {
    transform: scale(5);
}

.last_footerOpt a i {
    transition: 0.3s;
}

.last_footerOpt a i:hover {
    transform: scale(1.01);
}

.allBottom {
    overflow-y: scroll;
}
